body {

    background-color: #0f172a;

    font-family: Arial;

    margin: 0;

    padding: 10px;

    color: white;
}

header {

    text-align: center;

    margin-bottom: 20px;
}


/* FORCE GRID LAYOUT */

.dashboard-grid {

    display: grid;

    grid-template-columns: repeat(5, 240px);

    gap: 15px;

    justify-content: start;
}


/* CARD */

.motor-card {

    background-color: #1e293b;

    border-radius: 6px;

    padding: 10px;

    width: 240px;

    box-sizing: border-box;

    display: block;
}


/* HEADER */

.motor-header {

    display: flex;

    justify-content: space-between;
}


/* STATUS */

.status-badge {

    padding: 3px 6px;

    border-radius: 4px;

    font-size: 11px;
}

.normal {

    background-color: green;
}

.warning {

    background-color: orange;
}

.critical {

    background-color: red;
}


/* GRAPH */

canvas {

    width: 220px !important;

    height: 120px !important;
}